* {
    margin: 0;
}
.topnav {
    height: 60px;
    line-height: 60px;
    background-color: #0189fd;
    color: white;
    text-align: left;
    margin: auto;
    & > a {
        transition: 0.2s;
        margin: 0px;
        color: white;
        padding: 14px 16px;
        font-size: 20px;
        text-decoration: none;
        &:hover {
            background-color: white;
            color: #0189fd;
        }
    }
}

.topnav .login-container {
  float: right;
}

.topnav input[type=text], input[type=password] {
  padding: 10px;
  margin-right: 10px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px;
}

.topnav .login-container button {
  float: right;
  padding: 10px;
  margin-top: 10px;
  margin-right: 16px;
  background: #ffffff;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background: #ccc;
}